.link {
  color: #57a5f2;
  font-size: inherit;
  font: inherit;
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
}

.num {
  text-align: right;
}
